{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>{% block title %}{%  endblock %}</title>
 <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Meu blog</h2>
        <p>Este é meu blog. Eu escrevi {% total_posts %} posts até agora.</p>
        <h3>Últimas postagens</h3>
         {% show_latest_posts 3 %}
    </div>
</body>
</html>